@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
  	-ms-box-sizing:border-box;
}

html, body {
	-webkit-font-smoothing: subpixel-antialiased !important;
  	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
  	scroll-behavior: smooth;
  	-moz-scroll-behavior: smooth;
  	-webkit-scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 18px;
	color: #212121;
	letter-spacing: 0.3px;
	line-height: 31px;
}

.preload * {
 	-webkit-transition: none !important;
  	-moz-transition: none !important;
  	-ms-transition: none !important;
  	-o-transition: none !important;
}

.w-main {
	max-width: 70em;
	margin-left: auto;
	margin-right: auto;
}

.min-h-400 {
	min-height: 400px;
}

p {
	font-size: 1.125rem;
	color: #4A4A4A;
}

/*::selection { 
	background: #FFD400;
	text-shadow: none;
}

::-moz-selection { 
	background: #FFD400;
	text-shadow: none;
}

a { 
	color: #2B59C3;
}*/

/*----------------------------------*/

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.topnav #menu {
  display: none;
  border: 1px solid black;
}

.topnav a {
  color: black;
  padding: 20px;
  text-decoration: none;
  font-size: 36px;
  display: block;
}

.topnav a.icon {
  display: block;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 0;
}

.topnav a.icon:hover, .topnav #menu a:hover {
  background-color: #ddd;
}

.active {
  background-color: #ffd500;
  text-align: center;
}
/*-------------------------------------*/

.template {
	display: none;
}
.section-title {
	font-family: 'Playfair Display', serif;
	color: #212121;
	position: relative
}
.section-title::before {
	content: "+";
	font-size: 2.4rem;
	font-family: 'Roboto', sans-serif;
	color: #FFD500;
	position: absolute;
	left: -4rem;
}
.source-date, .source-title{
	font-family: 'Playfair Display', serif;
}
.source-excerpt {
	font-size: 1.125rem;
	color: #212121;
	font-weight: 300;
	line-height: 1.95rem;
	letter-spacing: 0.3px
}
.source-excerpt a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 2px solid #FFD500;
}
.section-title-small{
	font-size: 1.9rem;
	font-family: 'Playfair Display', serif;
	color: #212121;
	position: relative;
}
.checkmark:before{
	content: "\2713";
	font-size: 2.4rem;
	font-family: 'Roboto', sans-serif;
	color: #FFD500;
	position: absolute;
	left: -3.5rem;
}
.xmark:before {
	content: "\2715";
	font-size: 2.2rem;
	font-family: 'Roboto', sans-serif;
	color: #FFD500;
	position: absolute;
	left: -3.5rem;
}
.yellow-bull-list{
	list-style: none;
}
.yellow-bull-list li{
	font-size: 1.125rem;
	letter-spacing: 0.3px;
	line-height: 1.5;
}
.yellow-bull-list li:before{
	content: "\2022";
	color: #FFD500;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -2em;
}
#legal-issues .yellow-bull-list li {
	padding: 10px 0;
}
#legal-issues .yellow-bull-list li:before {
	font-size: 24px;
	font-weight: 900;
	margin-left: -1em;
}

.card-title {
	font-size: 1.125rem;
	color: #212121;
	font-family: 'Playfair Display', serif;
	text-align: center;
}
.card-desc {
	font-size: .9rem;
	color: #4A4A4A;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	line-height: 1.4;
}
.card-image {
	position: relative;
	text-align: center;
}
.card-img-arrow {
	position: absolute;
	left: 100%;
	top: 0;
	height: 100%;
	width: 50%;
}
.card-img-arrow > img {
	
}
.card-pill-holder {
	min-height: 90px;
	text-align: center;
}
.card-pill {
	font-size: .7rem;
	background-color: #032B43;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-weight: 600;
	line-height: 1.2;
}
.c-pill-label {
	font-size: .7rem;
	line-height: 1.3;
}






